[Unit]
Description=ROD - Remote Observation Device (Complete System)
After=network.target

# This target groups both services together
Wants=rod_detection.service rod_communication.service

[Install]
WantedBy=multi-user.target
